.page-footer p {
    text-align: center;
    color: grey;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

#about > div.container > div > div.col-12.col-lg-8 > div.article-style {
    text-align: justify;
}