.page-footer p {
    text-align: center;
    color: grey;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

#about > div.container > div > div.col-12.col-lg-8 > div.article-style {
    text-align: justify;
}

#demo > div.container > div > div > div > div.col-md-8 > p {
    text-align: justify;
}

#demo > div.container > div > div > div > div.col-md-4 > img {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    mix-blend-mode: exclusion;
    background: rgba(255, 255, 255, 1);
    khtml-user-select: none;
    o-user-select: none;
    moz-user-select: none;
    webkit-user-select: none;
    user-select: none;
    cursor: none;
}

a[id='nav-link active']{
    color: #4b519c;
}

.navbar .navbar-nav .nav-link.active {
    color: #7798AB !important;
}

a:hover {
    color: #7798AB !important;
}

.dark a:hover {
    color: #7798AB !important;
}

.dark .navbar .navbar-nav .nav-link.active {
    color: #7798AB !important;
}

#gallery > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    flex: 0 0 100%;
    max-width: 100%;
}

.gallery {
	text-align: center;
}

.gallery {
	margin: 0.5em -15px 1.5em -15px;
	font-size: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display",sans-serif;
}

.bar {
  list-style: none;
  color: #b2b2b2;
}
.bar >li {
  position: relative;
}
.bar>li:before {
  content: '\25CF';
  margin-right: 10px;
  font-size: 20px;
  color: #808080;
}
.bar>li:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border-left: 2px solid #9999995e;
  margin-left: 5px;
  height: 100%;
}
.bar >li:first-of-type:after {
  top: 50%;
}
.bar >li:last-of-type:after {
  top: -50%;
}

.home-section {
	background: white;
	position: relative;
	padding: 80px 0 110px 0;
	z-index: 0;
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: .5em;
	color: #333;
	background: #e8e8e8;
}

#top > div.page-body > article > div.article-container.pt-3 > h1 {
    font-size: 2.0rem;
    text-align: left;
}

#posts > div.container > div > div.col-12.col-lg-8 > div:nth-child(1) > div.media-body > a > div {
    text-align: justify;
}


p {
    font-family: Montserrat, sans-serif !important;
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: lighter;
    text-align: justify;
    font-size: 0.9rem;
}

#PlotTitle {
    text-align: center;
    margin: 5px 0 5px 0;
    font-size: 1.4rem;
}

#leaf1T, #leaf2T {
    text-align: center;
    margin: 5px 0 0 5px;
    font-size: 1.2rem;
    color: grey;
}

.leaflet-container {
    background: inherit !important;
    outline: 0;
}

#final-result-in-maps > ul > li > a {
    color: white ;
    margin: 0 1px 0 1px;
    padding: 1px 4px 1px 4px;
    border: 1px solid grey;
    background: grey;
    border-radius: 5px;
}

#final-result-in-maps > ul > li > a.active {
    color: #8be9fd;
}

#methodology > ul > li > a {
    color: white ;
    margin: 0 1px 0 1px;
    padding: 1px 4px 1px 4px;
    border: 1px solid grey;
    background: grey;
    border-radius: 5px;
}

#methodology > ul > li > a.active {
    color: #8be9fd;
}